[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mamba = "*"
expects = "*"
doublex = "*"
doublex-expects = "*"

[packages]
sdcclient = "*"
boto3 = "*"

[requires]
python_version = "3.8"
